################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TrelloAutotest/bin/Debug/netcoreapp3.1
/TrelloAutotests/obj
/TrelloAutotest/obj
/TrelloAPI/bin/Debug/netcoreapp3.1
/TrelloAPI/obj
*.testlog
